.buttonWrapper {
    display: flex;
    position: absolute;
    top: 50%;
    right: 8vw;
}

.buttonHide {
    display: none;
}

.container {
    margin-bottom: 16px;
}

.showError__true {
    position: fixed;
    top: 0;
    width: 95vw;
    padding: 10px;
    z-index: 10000000000;
}