@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 242, 245);
  display: block;
  line-height: 1em;
  font-weight: 400;
  box-sizing: border-box;
  color: #070d22;
}

h1 {
  margin: 0.2em 0;
  font-size: 3em;
  line-height: 1.3em;
  font-weight: 700;
  letter-spacing: -.0125em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.6em;
  letter-spacing: .0125em;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
  p {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 479px) {
  p {
    font-size: 1.1em;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
